.App {
  text-align: center;
}

.cell:hover {
  fill: lightgray;
  /* background-color: #00008b, #5e5ece, #58ccf3, #94f3b8ee, #f5f5b8 #f8cf60, #ffa500, #f33d3dc5, #8b0000; */
}

h1 {
  font-weight: lighter;
  font-size: 20px;
}